.spacer{
    flex: 1 1 auto;
}
mat-toolbar{
    background-color: #000000 !important;
    position: fixed;
    position: -webkit-fixed; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}
button{
    font-family: GIOVANNI;
}
button:hover{
    background-color: #000000 !important;
    color: #ffffff;
    font-family: GIOVANNI;
}